@import "@/assets/scss/_mixin.scss";

.c-animation-line-left {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  margin-right: $padding-sp;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -($padding-sp);
    width: calc(100% + #{$padding-sp});
    height: 1px;
    background-color: $color-line;
    animation: slide-in-left 1s ease-in-out forwards;
  }
}

.c-animation-line-right {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -($padding-sp);
    width: calc(100% + #{$padding-sp});
    height: 1px;
    background-color: $color-line;
    animation: slide-in-right 1s ease-in-out forwards;
  }
}
.c-arrow-link {
  margin-left: 1em;
}


@include media-breakpoint-up-md {
  .c-animation-line-left {
    &::before {
      left:  -($padding-md);
       width: calc(100% + #{$padding-md});
    }
  }

  .c-animation-line-right {
    &::before {
      right:  -($padding-md);
       width: calc(100% + #{$padding-md});
    }
  }
}

@include media-breakpoint-up-lg {
  .c-animation-line-left {
    &::before {
      left:  -($padding-pc);
       width: calc(100% + #{$padding-pc});
    }
  }

  .c-animation-line-right {
    &::before {
      right:  -($padding-pc);
       width: calc(100% + #{$padding-pc});
    }
  }
}