//blur
.blur-enter-active {
  animation: blur-in .4s linear forwards;
}
.blur-leave-active {
  animation: blur-in .4s linear reverse;
}
.blur-in {
  animation: blur-in .4s linear forwards;
}
@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0);   
  }
}

//slide
.slide-in-left {
  animation: slide-in-left .8s linear forwards;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-y {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
