.shadow-html {
  text-shadow: 3px 3px 2px rgba(247, 216, 227, 0.8);
}

.shadow-wordpress {
  text-shadow: 3px 3px 2px rgba(159, 208, 252, 0.8);
}

.shadow-javascript {
  text-shadow: 3px 3px 2px rgba(255, 235, 178, 0.8);
}

.shadow-vue {
  text-shadow: 3px 3px 2px rgba(171, 236, 207, 0.8);
}

.shadow-react {
  text-shadow: 3px 3px 2px rgba(184, 234, 248, 0.8);
}

.shadow-about {
  text-shadow: 3px 3px 2px rgba(218, 198, 245, 0.8);
}

.shadow-works {
  text-shadow: 3px 3px 2px rgba(89, 138, 124, 0.8);
}